.bioWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 90%;
  max-width: 950px;
  margin-block: 8rem;
  gap: 2rem;
  height: 100%;
}

.bioWrapper > p {
  font-size: var(--step-3);
}

.dots {
  position: absolute;
  top: -5%;
  left: 55%;
  translate: -50%;
  z-index: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.image {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  width: 450px;
  max-width: 65%;
  aspect-ratio: 9 / 16;
  box-sizing: content-box;
  z-index: 1;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: #0e0e0e;
  z-index: 1;
}

.text > b {
  color: #d9189c;
  text-decoration: underline;
}

.button {
  font-family: 'Dancing Script', cursive;
  font-size: var(--step-0);
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: #d9189c;
  color: #ffffff;
  align-self: flex-end;
}
