.footer {
  padding: 4rem;
  width: 100vw;
  border-top: 1px solid #0e0e0e;
}

.footerContent {
  max-width: 720px;
  width: 90%;
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: var(--step--2);
  color: rgba(0, 0, 0, 0.7);
}
